## Bibliotecas

In [1]:
import pandas as pd
import warnings
from IPython.display import display, Markdown, HTML

warnings.filterwarnings('ignore')

## Importação de Dados

In [2]:
# Importando dados
data_2018 = pd.read_csv('data/despesa_ceaps_2018.csv', encoding='latin-1', sep=';', skiprows=[0])
data_2019 = pd.read_csv('data/despesa_ceaps_2019.csv', encoding='latin-1', sep=';', skiprows=[0])
data_2020 = pd.read_csv('data/despesa_ceaps_2020.csv', encoding='latin-1', sep=';', skiprows=[0])
data_2021 = pd.read_csv('data/despesa_ceaps_2021.csv', encoding='latin-1', sep=';', skiprows=[0])
data_2022 = pd.read_csv('data/despesa_ceaps_2022.csv', encoding='latin-1', sep=';', skiprows=[0])

## Problema de Pesquisa

A coluna de Detalhamento tem um aumento nos valores nulos conforme se passam os anos. Pq?
Quem são os TOP 5 campeões de gastos de cada ano?
Com qual tipo de despesa foi gasto mais dinheiro?

## Funções

In [3]:
# Função para concatenar dataframes
def concat(dataframes_list):
    df_concat = pd.concat(dataframes_list, ignore_index=True)
    return df_concat

# Função para selecionar o ano
def select_year(df, year):
    year_df = df[df['ANO'] == year]
    return year_df

# Função para criar DF contagem de solicitações por senador
def count(df, ano):
    contagem_ano = df.query("ANO == @ano")
    df_ano = contagem_ano.sort_values("CONTAGEM", ascending=False)
    return df_ano
    
# Função para criar DF Valor Total por senador
def value_sum(df):
    df_agrupado = df.groupby('SENADOR')['VALOR_REEMBOLSADO'].sum()
    df_agrupado = df_agrupado.to_frame()
    df_agrupado = df_agrupado.rename(columns={'SENADOR': 'SENADOR', 'VALOR_REEMBOLSADO': 'VALOR_REEMBOLSADO'})
    df_agrupado = df_agrupado.sort_values("VALOR_REEMBOLSADO", ascending=False)
    return df_agrupado

# Função para criar DF Valor Total por Tipo de Despesa
def value_type(df):
    df_agrupado = df.groupby('TIPO_DESPESA')['VALOR_REEMBOLSADO'].sum()
    df_agrupado = df_agrupado.to_frame()
    df_agrupado = df_agrupado.rename(columns={'TIPO_DESPESA': 'TIPO_DESPESA','VALOR_REEMBOLSADO': 'VALOR_TOTAL'})
    df_agrupado = df_agrupado.sort_values("VALOR_TOTAL", ascending=False)
    return df_agrupado

# Função para mostrar o valor total por ano
def total_value(df):
    soma_total = df['VALOR_TOTAL'].sum()
    print("Soma total dos valores do ano de 2020: R$ {:.2f}".format(soma_total))

# Função para realizar a porcentagem de nulos por coluna
def nulls(df):
    nulls_percent = df.isnull().mean() * 100
    return nulls_percent

# Função para tratar valores da coluna VALOR_REEMBOLSADO e substituir a vírgula por ponto
def treat_value(df):
    df.loc[:, 'VALOR_REEMBOLSADO'] = df.loc[:, 'VALOR_REEMBOLSADO'].str.replace(',', '.').astype(float)
    
# Função para centralizar o dataframe
def center_df(df):
    df = df.style.set_table_attributes('style="margin-left: auto; margin-right: auto;"')
    return HTML(df.render())
    
# Função para inserir título
def title(title, size):
    return Markdown(f'<h1 style="font-size:{size}px; text-align:center;">{title}</h1>')

## Concatenação das Tabelas 2018 - 2022

In [4]:
df_concat = concat([data_2018, data_2019, data_2020, data_2021, data_2022] )
df_concat

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,02/01/2018,Despesa com pagamento de aluguel de imóvel par...,6000,2088462
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,02/01/2018,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....","274,99",2088476
2,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,SFEXYF,02/01/2018,"Companhia Aérea: LATAM, Localizador: SFEXYF. P...","1094,29",2088528
3,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,V64HTR,24/01/2018,"Companhia Aérea: AZUL, Localizador: V64HTR. Pa...","1553,99",2088475
4,2018,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/18,01/02/2018,Despesa com pagamento de aluguel de imóvel par...,6000,2088477
...,...,...,...,...,...,...,...,...,...,...,...
93756,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WIXHAI,06/12/2022,"Companhia Aérea: LATAM, Localizador: WIXHAI. P...","2893,04",2191398
93757,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WITOLM,09/12/2022,"Companhia Aérea: GOL, Localizador: WITOLM. Pas...","1180,19",2192272
93758,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,THPKVQ,20/12/2022,"Companhia Aérea: TAM, Localizador: THPKVQ. Pas...","2671,9",2192274
93759,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,QNN9HX,21/12/2022,"Companhia Aérea: AZUL, Localizador: QNN9HX. Pa...","1334,31",2192244
93760,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,30/12/2022,"Companhia Aérea: TAM, Localizador: WMQWBX. Pas...","2250,72",2193622

## Análise Exploratória

In [5]:
""" Comentários:
    Corrigir os valores da coluna VALOR_REEMBOLSADO (trocar , por .)"""
df_concat

,ANO,MES,SENADOR,TIPO_DESPESA,CNPJ_CPF,FORNECEDOR,DOCUMENTO,DATA,DETALHAMENTO,VALOR_REEMBOLSADO,COD_DOCUMENTO
0,2018,1,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,NaN,02/01/2018,Despesa com pagamento de aluguel de imóvel par...,6000,2088462
1,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,M2CJMM,02/01/2018,"Companhia Aérea: AVIANCA, Localizador: M2CJMM....","274,99",2088476
2,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,SFEXYF,02/01/2018,"Companhia Aérea: LATAM, Localizador: SFEXYF. P...","1094,29",2088528
3,2018,1,ACIR GURGACZ,"Passagens aéreas, aquáticas e terrestres nacio...",63.764.211/0001-10,TRANSCONTINENTAL AGÊNCIA DE VIAGENS LTDA,V64HTR,24/01/2018,"Companhia Aérea: AZUL, Localizador: V64HTR. Pa...","1553,99",2088475
4,2018,2,ACIR GURGACZ,"Aluguel de imóveis para escritório político, c...",004.948.028-63,GILBERTO PISELO DO NASCIMENTO,002/18,01/02/2018,Despesa com pagamento de aluguel de imóvel par...,6000,2088477
...,...,...,...,...,...,...,...,...,...,...,...
93756,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WIXHAI,06/12/2022,"Companhia Aérea: LATAM, Localizador: WIXHAI. P...","2893,04",2191398
93757,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WITOLM,09/12/2022,"Companhia Aérea: GOL, Localizador: WITOLM. Pas...","1180,19",2192272
93758,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,THPKVQ,20/12/2022,"Companhia Aérea: TAM, Localizador: THPKVQ. Pas...","2671,9",2192274
93759,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,QNN9HX,21/12/2022,"Companhia Aérea: AZUL, Localizador: QNN9HX. Pa...","1334,31",2192244
93760,2022,12,ZEQUINHA MARINHO,"Passagens aéreas, aquáticas e terrestres nacio...",22.052.777/0001-32,Exceller Tour,WMQWBX,30/12/2022,"Companhia Aérea: TAM, Localizador: WMQWBX. Pas...","2250,72",2193622

In [6]:
# Dicionário de Dados
titulo = 'Dicionário de Dados'
tamanho_fonte = 24

dataframe = {'Colunas': ['ANO', 
                         'MES', 
                         'SENADOR', 
                         'TIPO_DESPESA', 
                         'CNPJ_CPF', 
                         'FORNECEDOR', 
                         'DOCUMENTO', 
                         'DATA', 
                         'DETALHAMENTO', 
                         'VALOR_REEMBOLSADO', 
                         'COD_DOCUMENTO'],
            'Descrição': ['Ano da Despesa', 
                          'Mês da Despesa', 
                          'Nome do Senador que realizou a Despesa',
                          'Tipificação da Despesa',
                          'CNPJ ou CPF do executor da Despesa',
                          'Nome do Fornecedor da Despesa',
                          'Identificação do documento apresentado',
                          'Data de Apresentação da Despesa',
                          'Detalhamento da Despesa',
                          'Valor gasto com a Despesa',
                          'Código gerado para a Despesa']}

dic = pd.DataFrame(dataframe)

dic_estilizado = dic.style.set_table_attributes('style="margin-left: auto; margin-right: auto;"')
display(Markdown(f'<h1 style="font-size:{tamanho_fonte}px; text-align:center;">{titulo}</h1>'))
display(HTML(dic_estilizado.render()))

<h1 style="font-size:24px; text-align:center;">Dicionário de Dados</h1>

In [7]:
df_concat.columns

Index(['ANO', 'MES', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR',
       'DOCUMENTO', 'DATA', 'DETALHAMENTO', 'VALOR_REEMBOLSADO',
       'COD_DOCUMENTO'],
      dtype='object')

#### Valores Nulos

In [8]:
null_2018 = nulls(data_2018).reset_index()
null_2018.rename(columns={'index': 'Coluna', 0: 'Porcentagem_Nulos'}, inplace=True)

display(title('Porcentagem de Valores Nulos 2018', 24))
center_df(null_2018)

<h1 style="font-size:24px; text-align:center;">Porcentagem de Valores Nulos 2018</h1>

In [9]:
null_2019 = nulls(data_2019).reset_index()
null_2019.rename(columns={'index': 'Coluna', 0: 'Porcentagem_Nulos'}, inplace=True)

display(title('Porcentagem de Valores Nulos 2019', 24))
center_df(null_2019)

<h1 style="font-size:24px; text-align:center;">Porcentagem de Valores Nulos 2019</h1>

In [33]:
null_2020 = nulls(data_2020).reset_index()
null_2020.rename(columns={'index': 'Coluna', 0: 'Porcentagem_Nulos'}, inplace=True)

display(title('Porcentagem de Valores Nulos 2020', 24))
center_df(null_2020)

<h1 style="font-size:24px; text-align:center;">Porcentagem de Valores Nulos 2020</h1>

In [32]:
null_2021 = nulls(data_2021).reset_index()
null_2021.rename(columns={'index': 'Coluna', 0: 'Porcentagem_Nulos'}, inplace=True)

display(title('Porcentagem de Valores Nulos 2021', 24))
center_df(null_2021)

<h1 style="font-size:24px; text-align:center;">Porcentagem de Valores Nulos 2021</h1>

In [34]:
null_2022 = nulls(data_2022).reset_index()
null_2022.rename(columns={'index': 'Coluna', 0: 'Porcentagem_Nulos'}, inplace=True)

display(title('Porcentagem de Valores Nulos 2022', 24))
center_df(null_2022)

<h1 style="font-size:24px; text-align:center;">Porcentagem de Valores Nulos 2022</h1>

In [36]:
""" Comentários:
    Atentar para os valores nulos da coluna DETALHAMENTO que tiveram um aumento importante na virada de governo
    Quem são os senadores que mais possuem nulosna coluna DETALHAMENTO?"""
null_concat = nulls(df_concat).reset_index()
null_concat.rename(columns={'index': 'Coluna', 0: 'Porcentagem_Nulos'}, inplace=True)

display(title('Porcentagem de Valores Nulos 2022', 24))
center_df(null_concat)

<h1 style="font-size:24px; text-align:center;">Porcentagem de Valores Nulos 2022</h1>

In [41]:
"""Comentários:
    Arrumar tipo de valor reembolsado, object para float
    Arrumar tipo de data, object para date
"""

df_types = df_concat.dtypes.reset_index()
df_types.rename(columns={'index': 'Coluna', 0: 'Tipo'}, inplace=True)
display(title('Tipos das Colunas', 20))
center_df(df_types)

<h1 style="font-size:20px; text-align:center;">Tipos das Colunas</h1>

In [15]:
df_concat['VALOR_REEMBOLSADO'].describe()

count     93761
unique    41266
top         100
freq       2542
Name: VALOR_REEMBOLSADO, dtype: object

## Tratamento dos Dados

In [16]:
# Tratamento dos valores da coluna VALOR_REEMBOLSADO (retirando , e inserindo .) e do tipo da coluna (object to float)
treat_value(df_concat)

In [17]:
# Tratamento do tipo da coluna DATA

## DataFrames de Contagem de Nulos na Coluna Detalhamento por Senador

In [18]:
# Use o método isnull() para criar uma máscara booleana indicando quais valores são nulos
mask = df_concat['DETALHAMENTO'].isnull()

# Aplique a máscara booleana para filtrar as linhas com valores nulos na coluna 'B'
df_filtrado = df_concat[mask]
df_filtrado['SENADOR'].value_counts()

CARLOS VIANA          1712
TELMÁRIO MOTA         1589
ZEQUINHA MARINHO      1322
FLÁVIO ARNS           1292
LUIS CARLOS HEINZE    1226
                      ...
KÁTIA ABREU              1
FABIANO CONTARATO        1
ELMANO FÉRRER            1
SIMONE TEBET             1
AÉCIO NEVES              1
Name: SENADOR, Length: 127, dtype: int64

## DataFrames de Contagem de Solicitações por Senador Por Ano

In [19]:
# Realizar a contagem de linhas por senador e por ano
contagem = df_concat.groupby(['ANO', 'SENADOR']).size().reset_index(name='CONTAGEM')

In [20]:
senador_2018 = count(contagem, 2018)
senador_2018

     ANO              SENADOR  CONTAGEM
20  2018        EDUARDO LOPES       864
57  2018          PAULO BAUER       824
86  2018  WELLINGTON FAGUNDES       800
43  2018           JOSÉ SERRA       715
30  2018      GLEISI HOFFMANN       653
..   ...                  ...       ...
2   2018          ALVARO DIAS        40
24  2018      FERNANDO COLLOR        27
36  2018       JADER BARBALHO        19
12  2018    CRISTOVAM BUARQUE        16
89  2018           ZÉ SANTANA         8

[91 rows x 3 columns]

In [21]:
senador_2019 = count(contagem, 2019)
senador_2019

      ANO              SENADOR  CONTAGEM
210  2019  WELLINGTON FAGUNDES       875
132  2019       HUMBERTO COSTA       631
163  2019        MAJOR OLIMPIO       606
178  2019           PAULO PAIM       584
202  2019        TELMÁRIO MOTA       582
..    ...                  ...       ...
161  2019          MAGNO MALTA         4
149  2019   JOÃO ALBERTO SOUZA         3
133  2019           HÉLIO JOSÉ         3
115  2019         EDISON LOBÃO         2
207  2019     VICENTINHO ALVES         1

[127 rows x 3 columns]

In [22]:
senador_2020 = count(contagem, 2020)
senador_2020

      ANO              SENADOR  CONTAGEM
226  2020         CARLOS VIANA       576
278  2020           PAULO PAIM       460
249  2020        JAQUES WAGNER       456
264  2020        MAJOR OLIMPIO       435
301  2020     ZEQUINHA MARINHO       425
..    ...                  ...       ...
292  2020   STYVENSON VALENTIM        19
220  2020          ALVARO DIAS        15
248  2020       JADER BARBALHO        14
273  2020         NEY SUASSUNA        12
275  2020  ORIOVISTO GUIMARÃES         1

[84 rows x 3 columns]

In [23]:
senador_2021 = count(contagem, 2021)
senador_2021

      ANO               SENADOR  CONTAGEM
335  2021         JAQUES WAGNER       673
309  2021          CARLOS VIANA       596
331  2021        HUMBERTO COSTA       502
345  2021    LUIS CARLOS HEINZE       492
307  2021         CARLOS FÁVARO       476
..    ...                   ...       ...
334  2021        JADER BARBALHO        13
379  2021      TASSO JEREISSATI         9
359  2021          NEY SUASSUNA         3
383  2021  VIRGINIO DE CARVALHO         3
357  2021          NAILDE PANTA         1

[86 rows x 3 columns]

In [24]:
senador_2022 = count(contagem, 2022)
senador_2022

      ANO                        SENADOR  CONTAGEM
413  2022              FABIANO CONTARATO       646
418  2022                    FLÁVIO ARNS       645
422  2022                 HUMBERTO COSTA       579
427  2022                  JAQUES WAGNER       530
420  2022                       GIORDANO       464
..    ...                            ...       ...
441  2022                   LUIZ PASTORE        11
398  2022              CHIQUINHO FEITOSA        11
472  2022                  SAMUEL ARAUJO         4
451  2022  MARIA ELIZA DE AGUIAR E SILVA         3
432  2022                    JOSÉ ANÍBAL         2

[97 rows x 3 columns]

## DataFrames de Valor Total por Senador e Por Ano

In [25]:
df = df_concat[['ANO', 'SENADOR', 'VALOR_REEMBOLSADO']]
df

        ANO           SENADOR  VALOR_REEMBOLSADO
0      2018      ACIR GURGACZ            6000.00
1      2018      ACIR GURGACZ             274.99
2      2018      ACIR GURGACZ            1094.29
3      2018      ACIR GURGACZ            1553.99
4      2018      ACIR GURGACZ            6000.00
...     ...               ...                ...
93756  2022  ZEQUINHA MARINHO            2893.04
93757  2022  ZEQUINHA MARINHO            1180.19
93758  2022  ZEQUINHA MARINHO            2671.90
93759  2022  ZEQUINHA MARINHO            1334.31
93760  2022  ZEQUINHA MARINHO            2250.72

[93761 rows x 3 columns]

In [26]:
df = df_concat[['ANO', 'SENADOR', 'VALOR_REEMBOLSADO']]
df = select_year(df, 2018)
value_sum(df)

                    VALOR_REEMBOLSADO
SENADOR
EDUARDO BRAGA               529599.18
VANESSA GRAZZIOTIN          515969.63
JOÃO CAPIBERIBE             513333.90
ÂNGELA PORTELA              485806.44
OMAR AZIZ                   484143.98
...                               ...
ALVARO DIAS                  44037.88
WALTER PINHEIRO              32733.67
CRISTOVAM BUARQUE            32400.00
ZÉ SANTANA                   23300.67
IONE GUIMARÃES               11379.91

[91 rows x 1 columns]

In [27]:
df = df_concat[['ANO', 'SENADOR', 'VALOR_REEMBOLSADO']]
df_2019 = select_year(df, 2019)
value_sum(df_2019)

                   VALOR_REEMBOLSADO
SENADOR
OMAR AZIZ                  531315.99
EDUARDO BRAGA              519561.65
TELMÁRIO MOTA              485846.15
PAULO ROCHA                485114.40
MAILZA GOMES               466253.40
...                              ...
WALDEMIR MOKA                7096.87
PAULO ALBUQUERQUE            6206.15
SIQUEIRA CAMPOS              5926.99
MAGNO MALTA                  4725.79
JOSÉ PIMENTEL                4713.74

[127 rows x 1 columns]

In [28]:
df = df_concat[['ANO', 'SENADOR', 'VALOR_REEMBOLSADO']]
df_2020 = select_year(df, 2020)
value_sum(df_2020)

                     VALOR_REEMBOLSADO
SENADOR
DAVI ALCOLUMBRE              513609.00
TELMÁRIO MOTA                488459.41
MECIAS DE JESUS              487992.63
ROGÉRIO CARVALHO             486526.49
PAULO ROCHA                  474301.41
...                                ...
JUÍZA SELMA                   39225.81
LUIZ PASTORE                  32179.03
ALVARO DIAS                   17371.41
STYVENSON VALENTIM            13804.94
ORIOVISTO GUIMARÃES            1548.02

[84 rows x 1 columns]

## ## DataFrames de Valor Total por Tipo de Despesa e Por Ano

In [29]:
df_type_2018 = data_2018[['TIPO_DESPESA', 'VALOR_REEMBOLSADO']]
value_2018 = value_type(df_type_2018)
value_2018

                                                                                          VALOR_TOTAL
TIPO_DESPESA
Aquisição de material de consumo para uso no es...  649,9413,33242,358,71649,9171,03206,6658,71206...
Aluguel de imóveis para escritório político, co...  600060006000649,526000657,016000649,526000884,...
Locomoção, hospedagem, alimentação, combustívei...  2993,512914,453791,373203,324415,534508,392581...
Passagens aéreas, aquáticas e terrestres nacionais  274,991094,291553,991063,42339,021244,931684,1...
Contratação de consultorias, assessorias, pesqu...  2200100001897000700070007000700070001490106,46...
Serviços de Segurança Privada                       110,16110,16110,16110,16110,16362,19110,16110,...
Divulgação da atividade parlamentar                 1000300020003000500300090045045049421007008000...

In [30]:
total_value(value_2018)

ValueError: Unknown format code 'f' for object of type 'str'

In [ ]:
df_type_2019 = data_2019[['TIPO_DESPESA', 'VALOR_REEMBOLSADO']]
value_2019 = value_type(df_type_2019)
value_2019

In [ ]:
total_value(value_2019)

In [ ]:
df_type_2020 = data_2020[['TIPO_DESPESA', 'VALOR_REEMBOLSADO']]
value_2020 = value_type(df_type_2020)
value_2020

In [ ]:
total_value(value_2020)

In [ ]:
df_type_2021 = data_2021[['TIPO_DESPESA', 'VALOR_REEMBOLSADO']]
value_2021 = value_type(df_type_2021)
value_2021

In [ ]:
total_value(value_2021)

In [ ]:
df_type_2022 = data_2022[['TIPO_DESPESA', 'VALOR_REEMBOLSADO']]
value_2022 = value_type(df_type_2022)
value_2022

In [ ]:
total_value(value_2022)